html,body,#myChart { height:100%; width:100%;}
body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #08c;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #006699;
  color: white;
}
th {
  background-color: #006699;

}
table, tr, td {
  border: 1px solid white;
}
table {
  border-collapse: collapse;
  width: 100%
}
th, td {
  padding: 15px;
  color: white;
}
td {
  background-color: #0088cc;
}
.capital {
  text-transform:capitalize;
}
.pagination {
  display: inline-block;
  float: right;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #006699;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #0088cc;color:white;}