html, body, #myChart {
    height: 100%;
    width: 100%;
    font-family: 'Nunito', sans-serif !important;
}
.topnav {
    overflow: hidden;
    background-color: #08c;
    border-bottom: 2px solid white;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #cceeff;
    text-decoration: none;
    color: black;
}
.topnav a.active {
    background-color: #006699;
    color: white;
}
.topnav a.active:hover {
    background-color: #0077b3;
}
.tablaCSV {
    border: 2px solid white;
    text-align: center;
    background-color: #0088cc;
    border-collapse: collapse;
    width: 100%
}
.capital {
    text-transform: capitalize;
}
.pagination {
    display: inline-block;
    float: right;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.pagination a.active {
    background-color: #006699;
    color: white;
}
.pagination a:hover:not(.active) {
    background-color: #0088cc;
    color: white;
}
.calendar-day {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    height: 80px;
}
.calendar-table {
    margin: 0 auto;
    width: 700px;
}
.selected {
    background-color: #eee;
}
.outside .date {
    color: #ccc;
}
.timetitle {
    white-space: nowrap;
    text-align: right;
}
.topnavS {
    overflow: hidden;
    background-color: #08c;
    border-bottom: 2px solid white;
}
.topnavS a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 17px;
}
.topnavS a:hover {
    background-color: #cceeff;
    text-decoration: none;
    color: black;
}
.topnavS a.active {
    background-color: #006699;
    color: white;
}
.topnavS a.active:hover {
    background-color: #0077b3;
}
.vertical-menu {
    text-align: center;
    border: 2px solid #08c;
    border-radius: 4px;
}
.vertical-menu a {
    background: #08c;
    color: white !important;
    border-bottom:2px solid #08c;
    display: block;
    padding: 12px;
    text-decoration: none;
}
.vertical-menu a:hover {
    background-color: white;
    text-decoration: none;
    cursor: pointer;
    color: #08c !important;
}
.vertical-menu a.active {
    background-color: #0088cc;
    color: white !important;
    font-weight: bolder;
}
.vertical-menu a.active:hover {
    background-color: white;
    color: #08c !important;
    cursor: pointer;
    font-weight: bolder;
}
.indent-1 {width: 100%;float: left;}
.indent-1 section { float: left;}
.labelEmail {
    width: 100%;
    resize: none;
}
.buttonStartSave {
    color: #08c;
    font-size: 20px;
    background: white;
    border: 2px solid #08c;
    width: 200px;
    height: 50px;
    justify-content: center;
    display: flex;
    border-radius: 4px;
}
.buttonStartSave:hover {
    color: white;
    font-size: 20px;
    background: #08c;
    border: 2px solid #08c;
    width: 200px;
    height: 50px;
    justify-content: center;
    display: flex;
    border-radius: 4px;
}
.buttonSaveSequence {
    color: #08c;
    font-size: 15px;
    background: white;
    border: 1px solid #08c;
    width: 100px;
    height: 50px;
    justify-content: center;
    border-radius: 4px;
}
.buttonSaveSequence:hover {
    color: white;
    font-size: 15px;
    background: #08c !important;
    width: 100px;
    height: 50px;
    justify-content: center;
    border-radius: 4px;
}
.buttonStartSequence {
    color: white;
    font-size: 15px;
    background: #08c !important;
    border: none;
    height: 50px;
    justify-content: center;
    width: 100%;
}
.buttonStartSequence:hover {
    color: #08c;
    font-size: 15px;
    background: white !important;
    width: 100px;
    height: 50px;
    justify-content: center;
}
.column {
    float: left;
    width: 70%;
}
.column2 {
    float: left;
    width: 30%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.sectionMails {
    padding: 10px;
}
.titleTH {
    background: #006699;
}
.insertNewEmail {
    border: 2px solid #08c;
    color: #08c;
}
.error {
    color: red !important;
}
.labelNewEmail {
    resize: none;
    width: 25%;
}
.labelLabel {
}
#checkbox-dropdown-container {
    background: #99d3de;
    padding: 20px;
}
.custom-select {
    display: inline-block;
    padding: 5px 15px;
    border: #80b2bb 1px solid;
    color: #3892a2;
    border-radius: 2px;
    width: 100%;
    cursor:pointer;

}
div#custom-select-option-box {
    background: #FFF;
    border: #80b2bb 1px solid;
    color: #3892a2;
    border-radius: 2px;
    width: 100%;
    z-index:1;
    display:none;
}
button.search.btn {
    background: #4c4c4c;
    border: #353535 1px solid;
    color: #ffffff;
    border-radius: 2px;
    padding: 8px 40px;
    margin-top: 20px;
    font-size: 0.9em;
}
.custom-select-option {
    width: 100%;
    padding: 5px 15px;
    margin: 1px 0px;
    cursor: pointer;
}
.custom-select-option:hover {

}
.result-list {
    padding-bottom: 20px;
    color: #4d4d4d;
    line-height: 25px;
}
.result-list-heading {
    font-style: italic;
    color: #717171;
    text-decoration: underline;
}
input[type=text], select {
    border: 1px solid #bebcbb;
    border-radius: 4px;
    box-sizing: border-box;
    height: 50px;
}
.btn {
    line-height: 2.6 !important;
}
.container {
    max-width: 100% !important;
    width: 100% !important;
    justify-content: center !important;
}
.form-control {
    height: 50px !important;
}
.col- {
    margin-right: 10px;
}