html, body, #myChart {
    height: 100%;
    width: 100%;
}
.topnav {
    overflow: hidden;
    background-color: #08c;
    border-bottom: 2px solid white;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #cceeff;
    text-decoration: none;
    color: black;
}
.topnav a.active {
    background-color: #006699;
    color: white;
}
.topnav a.active:hover {
    background-color: #0077b3;
}
table, tr, td {
    border: 2px solid white;
    text-align: center;
    background-color: #0088cc;
    color: white;
}
table {
    border-collapse: collapse;
    width: 100%
}
.capital {
    text-transform: capitalize;
}
.pagination {
    display: inline-block;
    float: right;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.pagination a.active {
    background-color: #006699;
    color: white;
}
.pagination a:hover:not(.active) {
    background-color: #0088cc;
    color: white;
}
.calendar-day {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    height: 80px;
}
.calendar-table {
    margin: 0 auto;
    width: 700px;
}
.selected {
    background-color: #eee;
}
.outside .date {
    color: #ccc;
}
.timetitle {
    white-space: nowrap;
    text-align: right;
}
.table-tight > thead > tr > th,
.table-tight > tbody > tr > th,
.table-tight > tfoot > tr > th,
.table-tight > thead > tr > td,
.table-tight > tbody > tr > td,
.table-tight > tfoot > tr > td {
    padding-left: 0;
    padding-right: 0;
}
.table-tight-vert > thead > tr > th,
.table-tight-vert > tbody > tr > th,
.table-tight-vert > tfoot > tr > th,
.table-tight-vert > thead > tr > td,
.table-tight-vert > tbody > tr > td,
.table-tight-vert > tfoot > tr > td {
    padding-top: 0;
    padding-bottom: 0;
}
.topnavS {
    overflow: hidden;
    background-color: #08c;
    border-bottom: 2px solid white;
}
.topnavS a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 17px;
}
.topnavS a:hover {
    background-color: #cceeff;
    text-decoration: none;
    color: black;
}
.topnavS a.active {
    background-color: #006699;
    color: white;
}
.topnavS a.active:hover {
    background-color: #0077b3;
}
.vertical-menu {
    text-align: center;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}
.vertical-menu a {
    background:#08c;
    color: white !important;
    display: block;
    padding: 12px;
    text-decoration: none;
}
.vertical-menu a:hover {
    background-color: #0077b3;
    text-decoration: none;
    color: white;
}
.vertical-menu a.active {
    background-color: #006699;
    color: white;
}
.vertical-menu a.active:hover {
    background-color: #0077b3;
}
.indent-1 {width: 100%;float: left;}
.indent-1 section { float: left;}
.labelEmail {
    width: 100%;
}
.buttonStartSave {
    color: white;
    font-size: 20px;
    background: #08c;
    border: 2px solid white;
    width: 200px;
    height: 50px;
    justify-content: center;
    display: flex;
    margin-left: 42%;
}
.column {
    float: left;
    width: 70%;
}
.column2 {
    float: left;
    width: 30%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.sectionMails {
    padding: 10px;
}